<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Write new chat...</h3>
    <form method="POST" action="/chats">
        <% if (typeof error !== 'undefined') { %>
            <p style="color:red;"><%= error %></p>
        <% } %>

        <input type="text" name="from" placeholder="Your name" />
        <br /><br />
        <textarea name = "msg">Write your message here...</textarea>
        <br /><br />
        <input placeholder="Add receiver's name" type="text" name="to" />
        <br /><br />
        <button>Create chat</button>
    </form>
</body>
</html>